*{
    list-style-type: none;
    text-decoration: none;

}

body{

    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(184, 184, 184, 0.2) 50%, rgba(184, 184, 184,0.2) 50%), url("images/bg.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;

}

.container{

    width: 99%;
    height: 98%;
    display: flex;

}

.container .mainCont {

    display: flex;
    flex-flow: column;
    flex-grow: 1;

}

.mainCont .syuman {

    width: 100%;
    min-height: 20%;
    max-height: 20%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

.syuman h3 {

    color: #c5cacf;
    position: relative;
    text-transform: uppercase;
    /* font-family: verdana; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 13vh;
    padding-left: 2%;
    top: -4%;
    text-shadow: 1px 1px 1px #798594,
        1px 2px 1px #798594,
        1px 3px 1px #798594,
        1px 4px 1px #798594,
        1px 5px 1px #798594,
        1px 6px 1px #798594,
        1px 7px 1px #798594,
        1px 9px 1px #798594,
        1px 10px 1px #798594,
    1px 18px 5px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);

}

.syuman img {

    width: 6%;
    height: 55%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;

}

@-webkit-keyframes spin {
    
       0% {
        transform: rotateY(0deg);
    }  50% {
        transform: rotateY(90deg);
    }  100% {
        transform: rotateY(0deg);
    }

}

.mainCont .dBoard {

    width: 100%;
    height: fit-content;
    float: left;
    background-color:  #304050;
    text-align: center;

}

.dBoard h3 {

    float: none;
    font-size: 2.9vh;
    color: #F4F4F4;
    font-weight: bold;
    text-transform: uppercase;

}

.mainCont .dbCont {

    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    overflow: hidden;

}

.dbCont .srchCont {

    width: 100%;
    min-height: 12%;

}

.srchCont form {

    position: relative;
    top: 30%;

}

.srchCont input, button {

    position: relative;
    top: 30%;
    left: 6.6%;
    font-size: 2vh;
}

.dbCont .dbTableCont {

    flex: 1 1 auto;
    display: flex;
    overflow-y: auto;
    overflow-x: visible;
}

.dbTableCont .tblHead {

    width: 60%;
    height: 100%;

}

.tblHead table {

    text-align: left;
    border-collapse: collapse;
    font-family: Verdana;
    width: 100%;
    position: relative;
    left: 11%;
    font-size: 2vh;

}

.tblHead input[type=checkbox] {
    transform: scale(2.5);
    margin-left: 40%;

}

.tblHead th {

    color: white;
    background-color: #304050;
    height: 6vh;

}

.tblHead tr {

    height: 6vh;
    background-color: #ccdaec;

}


.tblHead tr:nth-child(even){

    background-color: white;

} 

.dbTableCont .btnCont {

    flex: 1 1 auto;

}

.btns button {

    display: block;
    width: 30%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #87a7cf;
    outline: none;
    border-radius: 10px;
    padding: 3%;
    margin-top: 5%;
    font-size: 3.5vh;
    left: 40%;
    color: black;
    cursor: pointer;
    transition: .3s;
    filter: drop-shadow(10px 25px 20px rgba(0, 0, 0, 0.6));

}

.btns button:hover {
    transform: translateY(-5px);
    background:  rgb(23, 51, 85);
    color: white;
}

#addMdl {

    width: 30%;
    height: fit-content;
    max-height: 50%;
    position: relative;
    z-index: 999;
    overflow: auto;

}

#editMdl {

    width: 30%;
    max-width: 50%;
    height: fit-content;
    max-height: 50%;
    position: relative;
    z-index: 999;
    overflow: auto;

}

#page1 {

    width: 100%;
    display: flex;
    flex-flow: column;  
    height: 100%;
    position: relative;
    z-index: 999;
    overflow: auto;
    margin: 0;

}

#page2 {

    width: 100%;
    display: none;
    flex-flow: column;  
    height: 100%;
    position: relative;
    z-index: 999;
    overflow: auto;
    margin: 0;

}

.nextPrev {

    padding-top: 4%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;

}

.nextPrev button {

    width: 25%;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    border: none;
    background: #87a7cf;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    transition: .3s;

}

.btnPrev {

    position: relative;
    left: -10%;

}

.nextPrev button:hover {

    transform: translateY(-5px);
    background:  rgb(23, 51, 85);
    color: white;
    
}

form .inputField {

	position: relative;
    width: 100%; 
	border-bottom: 4px solid black;
	border-radius: 2px;
	margin: 30px 0;

}

.inputField input, select {

	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	outline: none;
	background: none;

}

.inputField label, option {

	position: absolute;
	font-family: Verdana;
	font-size: 18px;
	color: black;
	transform: translateY(-20%);
	bottom: 0%;
	left: 10px;
	pointer-events: none;
	transition: .3s;

}

.inputField input:focus ~ label,
.inputField input:valid ~ label,
.inputField select:focus ~ label,
.inputField select:valid ~ label {
	
	color: transparent;

}

.btn {

    top: 100%;
    width: 30%;
    left: 13%;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    border: none;
    background: #87a7cf;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    transition: .3s;

}

.btn:hover {

    transform: translateY(-5px);
    background:  rgb(23, 51, 85);
    color: white;

}

.floating-btn{

    z-index: 1;
    width: 80px;
    height: 80px;
    background:  #304050;;
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    border-radius: 50%;
    color: #ffffff;
    font-size: 23px;
    box-shadow: 0 10px 25px rgb(17 30 36 / 64%);
    position: fixed;
    right: 20px;
    bottom:20px;
    transition: 0.3s;
    cursor: pointer;

}

.floating-btn:active{
    background: #e94b31
}

.floating-btn:hover {
    box-shadow: 0 10px 25px rgb(17 30 36 / 64%);
    background-color: #9da5ad;
    -webkit-transform: translatey(-5px);
    transform: translatey(-5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.delConf {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: #474e5d;
    padding-top: 10%;
}

.close {
    position: absolute;
    right: 32%;
    top: 20%;
    font-size: 5vh;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

.delete-content {

    width: 30%;

}

.delCont {

    padding: 0% 10% 10% 10%;
    width: 20vw;
    height: 20vh;
    text-align: center;
    background-color: #f1f1f1;
    margin: 5% auto 15% auto; 
    border: 3px solid #304050;
    font-size: 1.6vw;
    font-family: Verdana;
    
}

.delConfBtns {

    margin-top: 2%;
    display: flex;
    justify-content: center;
    font-family: Verdana;

}

.delConfBtns button {

    width: 50%;
    padding: 1%;
    font-size: 1.5vw;
    cursor: pointer;
    transition: .3s;

}

.cancelbtn {
    background-color: #ccc;
    margin-right: 2%;
}

.delBtn {
    background-color: #f01000;
}

.cancelbtn:hover {

    transform: translateY(-5px);
    background:  rgb(23, 51, 85);
    color: white;

}

.delBtn:hover {

    transform: translateY(-5px);
    background:  rgb(9, 243, 28);
    color: rgb(255, 255, 255);

}